<a href="https://colab.research.google.com/github/sakshamji/Data_Science/blob/master/K_Nearest_Neighbours.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classification Problem (using K nearest neighbours)

In [0]:
import numpy as np
import pandas as pd
from sklearn import preprocessing,neighbors
from sklearn.model_selection import cross_validate

In [0]:
df=pd.read_csv('breast-cancer-wisconsin.data')
df.columns=['id','clump_thickness','unif_cell_size','unif_cell_shape','marg_adhesion','single_epith_cell_size','bare_nuclei','bland_chrom','norm_nucleoli','mitoses','class']

In [18]:
df.head()

   clump_thickness  unif_cell_size  ...  mitoses  class
0                5               4  ...        1      2
1                3               1  ...        1      2
2                6               8  ...        1      2
3                4               1  ...        1      2
4                8              10  ...        1      4

[5 rows x 10 columns]

In [0]:
df.replace('?',-99999,inplace=True)

In [0]:
df.drop(['id'],1,inplace=True)

In [9]:
df.shape

(698, 10)

In [0]:
x=np.array(df.drop(['class'],1))
y=np.array(df['class'])

In [0]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
clf=neighbors.KNeighborsClassifier()
clf.fit(x_train,y_train)
accuracy=clf.score(x_test,y_test)
print(accuracy)

0.9714285714285714