<a href="https://colab.research.google.com/github/sakshamji/Data_Science/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Regression on Stock Market data

In [1]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/07/ab/8cd479fba8a9b197a43a0d55dd534b066fb8e5a0a04b5c0384cbc5d663aa/Quandl-3.5.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.3)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/52/c1/36be286d85dbd76527fb613527222a795d7c071da195fa916e7bf3cb03cb/inflection-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.4.5.1)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.4.0 quandl-3.5.0

In [8]:
import pandas as pd
import quandl
quandl.ApiConfig.api_key='FDR9shuzK3s9onfSWKxg'
df=quandl.get('WIKI/GOOGL')
df.head()

              Open    High     Low  ...   Adj. Low  Adj. Close  Adj. Volume
Date                                ...
2004-08-19  100.01  104.06   95.96  ...  48.128568   50.322842   44659000.0
2004-08-20  101.01  109.08  100.50  ...  50.405597   54.322689   22834300.0
2004-08-23  110.76  113.48  109.05  ...  54.693835   54.869377   18256100.0
2004-08-24  111.24  111.60  103.57  ...  51.945350   52.597363   15247300.0
2004-08-25  104.76  108.00  103.88  ...  52.100830   53.164113    9188600.0

[5 rows x 12 columns]

In [0]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df['HL_PCT']=(df['Adj. High']-df['Adj. Low'])/df['Adj. Low']*100.0
df['PCT_change']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100.0
df_new=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [10]:
df_new.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

In [12]:
import math
forcast_col='Adj. Close'
df_new.fillna(-99999,inplace=True)
forecast_out=int(math.ceil(0.1*len(df_new))) #10 percent of dataframe

df_new['label'] = df_new[forcast_col].shift(-forecast_out)
df_new.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Adj. Close    HL_PCT  PCT_change  Adj. Volume       label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  214.005615
2004-08-20   54.322689  8.537313    7.227007   22834300.0  210.725489
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  208.072299
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  218.288837
2004-08-25   53.164113  3.966115    1.183658    9188600.0  223.309335

In [15]:
df_new.dropna(inplace=True)
df_new.tail()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2016-11-04      781.10  2.266615    1.270582    1970603.0  1094.00
2016-11-07      802.03  1.526044    0.890622    1992570.0  1053.15
2016-11-08      811.98  2.053475    1.240602    1769069.0  1026.55
2016-11-09      805.59  2.484107    0.468927    3098510.0  1054.09
2016-11-10      780.29  5.444984   -3.667901    5909609.0  1006.94

In [17]:
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

X=np.array(df_new.drop(['label'],1))
y=np.array(df_new['label'])

X=preprocessing.scale(X)

df_new.dropna(inplace=True)
print(len(X),len(y))

3081 3081

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [0]:
from sklearn import model_selection
from sklearn import svm

In [0]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [30]:
clf=LinearRegression(n_jobs=-1)
clf.fit(X_train,y_train)
accuracy=clf.score(X_test,y_test)
print(accuracy) #squared error

0.8749310550971151