<a href="https://colab.research.google.com/github/sakshamji/Data_Science/blob/master/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Loan Prediction (using Logistic Regression)

Problem statement : It is a classification problem where we have to predict that if a loan get approved or not

Importing libs

In [0]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

Loading data

In [3]:
df=pd.read_csv('train_ctrUa4K.csv')
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [4]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Label encode the target variable

In [0]:
encode=LabelEncoder()
df.Loan_Status=encode.fit_transform(df.Loan_Status)
df.dropna(how='any',inplace=True)

Train Test Split

In [0]:
train,test=train_test_split(df,test_size=0.2,random_state=0)
train_x = train.drop(columns=['Loan_ID','Loan_Status'],axis=1)
train_y = train['Loan_Status']

test_x = test.drop(columns=['Loan_ID','Loan_Status'],axis=1)
test_y = test['Loan_Status']

Encoding the data

In [8]:
train_x = pd.get_dummies(train_x)
test_x  = pd.get_dummies(test_x)
print(train_x.shape,test_x.shape)

(384, 20) (96, 20)

In [9]:
train_x.head()

     ApplicantIncome  ...  Property_Area_Urban
481             3095  ...                    0
341             2378  ...                    0
297             4666  ...                    1
255             3083  ...                    0
271            11146  ...                    1

[5 rows x 20 columns]

Model creation

In [12]:
model=LogisticRegression(max_iter=1000)
model.fit(train_x,train_y)
y_pred=model.predict(test_x)

from sklearn.metrics import accuracy_score

accuracy_score(test_y,y_pred)

0.7604166666666666